<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="fragments/header.html :: header"></th:block>
    <title>Meu perfil | Fórum NG</title>
    <style>
        .add-topic-square{
            color: #999999;
            transition: all 150ms ease-in;
        }
        
        .add-topic-square:hover, .add-topic-square:focus{
            border-color: indigo;
            color: indigo !important;
            cursor: pointer;
        }

        .instant-reply{
            border: 1px solid #f0f0f0;
            border-radius: 50%;
            transition: all 150ms ease-in;
            background-color: #ffffff;
        }

        .instant-reply:hover, .instant-reply:focus{
            border-color: #cccccc;
            background-color: #f0f0f0;
        }

        .card{
            border-top: 3px indigo solid;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    </style>
</head>
<body>
    <th:block th:include="fragments/navbar.html :: navbar"></th:block>

    <main class="content">
        <div class="container mt-5">
            <div class="row ">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent px-0 mb-0 pb-0">
                          <li class="breadcrumb-item " aria-current="page">
                            <a  aria-current="page" th:href="@{/}">Início</a>
                          </li>
                          <li class="breadcrumb-item active" aria-current="page">Meu perfil</li>
                        </ol>
                      </nav>
                    <h1 class="display-4">Olá, <th:block th:text="${#strings.substringBefore(#authentication.getPrincipal().getName(),' ')}"></th:block>!</h1>
                    <p class="lead text-muted mb-0">Montamos um perfil simples para você</p>
                    <small class="text-muted">Logado com <th:block th:text="${#authentication.getPrincipal().getUsername()}"></th:block></small>
                </div>
            </div>
            <hr>
            <div class="row mb-4">
                <div class="col-lg-8 order-lg-0 order-1 my-2">
                    <th:block th:each="post : ${posts}">
                        <th:block th:if="${post.title != null}">
                            <div class="card shadow-sm mb-2">
                                <div class="card-body">
                                    <div class="row justify-content-between ">
                                        <div class="col">
                                            <small class="text-muted ">Por: Você</small>
                                        </div>
                                        <div class="col text-right">
                                            <small class="text-muted "><i class="fas fa-calendar mr-2" aria-hidden="true"></i>
                                                <th:block th:text="${#temporals.format(post.createdAt, 'dd/MM/yyyy HH:mm')}"></th:block>
                                            </small> 
                                        </div> 
                                    </div>
                                    
                                    <h2 class="h4 font-weight-bold text-truncate mt-2" th:text="${post.title}"></h2>
                                    <p class="lead text-truncate" th:utext="${post.text}"></p>
                                    
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col text-left">
                                            <small class="text-muted">Respostas: <th:block th:text="${#lists.size(post.answers)}"></th:block></small>
                                        </div>
                                        <div class="col text-right">
                                            <a class="btn btn-default btn-sm" th:href="@{/posts/update/{id}(id=${post.id})}" role="button"><i class="fas fa-edit mr-2" aria-hidden="true"></i>Editar</a>
                                            <a class="btn btn-primary btn-sm" th:href="@{/posts/{id}(id=${post.id})}" role="button"><i class="fas fa-arrow-right mr-2" aria-hidden="true"></i>Ver post completo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                    <!-- <div class="row" th:if="${totalPages > 0}">
                        <div class="col d-flex justify-content-end">
                            <nav aria-label="Page navigation ">
                                <ul class="pagination" >
                                        
                                    <li class="page-item" th:classappend="${currentPage == 0} ? disabled">
                                        <a class="page-link"  th:href="@{/(page=${currentPage-1})}" tabindex="-1">Anterior</a>
                                    </li>

                                    <th:block th:each="pageNumber : ${pages}">
                                        <li class="page-item" th:classappend="${pageNumber-1==currentPage} ? active">
                                            <a class="page-link"  th:href="@{/(page=${pageNumber-1})}" th:text=${pageNumber}></a>
                                        </li>
                                    </th:block>

                                    <li class="page-item" th:classappend="${currentPage+1 == totalPages} ? disabled">
                                        <a class="page-link"  th:href="@{/(page=${currentPage+1})}" tabindex="-1">Próximo</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-4 order-lg-1 order-0 my-2">
                    <div class="card shadow-sm px-2 py-3 px-md-4 py-md-5 add-topic-square">
                        <a th:href="@{/posts/new}" class="text-decoration-none">
                            <div class="card-body d-flex justify-content-center align-items-center flex-column ">
                                <i class="fas fa-plus fa-2x "></i>
                                <p class="mt-4 fa-lg">Adicionar novo post</p>
                            </div>
                        </a>
                    </div>

                    <div class="list-group py-4">
                        <a href="#" class="list-group-item list-group-item-action active flex-column align-items-start ">
                            <h5 class="mb-1">Suas respostas</h5>
                        </a>
                        <th:block th:each="post : ${posts}">
                            <th:block th:if="${post.parentPost != null}">
                                <a th:href="@{/posts/{id}(id=${post.parentPost.id})}" class="list-group-item list-group-item-action flex-column align-items-start ">
                                    
                                    <div class="d-flex w-100 justify-content-between">
                                        <small class="text-truncate font-weight-bold" th:text="${post.parentPost.title != null ? post.parentPost.title : post.parentPost.text}"></small>
                                    </div>
                                    <h5 class="text-truncate mt-2">Você: <th:block  th:utext="${post.text}"></th:block>  </h5>

                                    <small class="text-muted "><i class="fas fa-calendar mr-2" aria-hidden="true"></i>
                                        <th:block th:text="${#temporals.format(post.createdAt, 'dd/MM/yyyy HH:mm')}"></th:block>
                                    </small> 
                                    <small class="text-muted float-right">
                                        Ver completo
                                    </small> 
                                  </a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <!-- <th:block th:include="fragments/footer.html :: footer"></th:block> -->

    <th:block th:include="fragments/scripts.html :: scripts"></th:block>
</body>
</html>