<template th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand font-weight-bold" th:href="@{/}">Fórum NG</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/'} ? active">
            <a class="nav-link" aria-current="page" th:href="@{/}">Início</a>
          </li>
          <th:block sec:authorize="isAuthenticated()">
            <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/profile'} ? active">
              <a class="nav-link" aria-current="page" th:href="@{/profile}">Perfil</a>
            </li>
          </th:block>
        </ul>
        <th:block sec:authorize="isAuthenticated()">
          <ul class="navbar-nav ml-auto  mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page">Olá, <th:block th:text="${#strings.substringBefore(#authentication.getPrincipal().getName(),' ')}"></th:block></a>
            </li>
            <a class="btn btn-danger ml-4" aria-current="page" th:href="@{/logout}"><i class="fas fa-sign-out-alt mr-2" aria-hidden="true"></i>Sair</a>
          </ul>

        </th:block>

        <th:block sec:authorize="isAnonymous()">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" th:href="@{/login}">Entrar</a>
            </li>
            <a class="btn btn-light ml-4" aria-current="page" th:href="@{/register}">Cadastre-se</a>
          </ul>
        </th:block>
      </div>
    </div>
  </nav>
</template>